.characterCard {
  display: flex;
  flex-direction: column;
  height: 245.97px;
  width: 188.57px;
  background-color: #000000;
  color: #ffffff;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%);
  font-size: 14px;
}

.line {
  background-color: #ec1d24;
  width: 100%;
  height: 5.38px;
  border: none;
}

.textbox {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.text {
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
